<!doctype html>
<html lang="en" th:replace="normal/base::Layout(~{::section})" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>View Contacts Page </title>
</head>

<body>
	<section>
		<div class="card mt-2">
			<div class="card-body">
				<h2 class="text-center">Your Contact List </h2>
				<hr>
				<!--Search Bar-->
				<div class="search-container my-3">
					<input onkeyup="searchContact()" id="search-input" class="form-control" type="text" placeholder="Search Your Contacts">
					<div class="search-result">
						<!-- Result goes here -->
					</div>
				</div>
				<div class="table-responsive"> 
				<table class="table table-bordered text-center">
					<thead>
						<tr class="table-danger">
							<th scope="col">Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contacts}">
							<th th:text="${'SCM(2023)-' + c.cid}"></th>
							<td>
								<img src="" th:src="@{'/img/' + ${c.image}}" alt="Profile_Photo" class="myprofile" />
								<span th:text="${c.firstName}"></span>
							</td>
							<td th:text="${c.email}"></td>
							<td th:text="${c.phone}"></td>
							<td>
								<form class="mb-1" th:action="@{'/user/update-contact/'+${c.cid}}" method="post">
									<button type="submit" class="btn btn-warning btn-sm"><a href="#"
											th:href="@{'/user/update-contact/'+${c.cid}}"><span
												class="text-white">Update</span></a></button>
								</form>
								<!--<button class="btn btn-danger btn-sm"><a href="#" th:href="@{'/user/delete-contact/'+${c.cid}}"><span class="text-white">Delete</span></a></button>-->
								<button class="btn btn-danger btn-sm"><a href="#"
										th:onclick="|deleteContact(${c.cid})|"><span
											class="text-white">Delete</span></a></button>
								<button class="btn btn-primary btn-sm"><a href="#"
										th:href="@{'/user/contact/'+${c.cid}}"><span
											class="text-white">View</span></a></button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<!--Pagination-->

				<nav>

					<ul class="pagination justify-content-center">

						<li th:if="${currentPage != 0}" class="page-item"><a class="page-link"
								th:href="@{'/user/view-contacts/'+${currentPage-1}}" href="#">Previous</a></li>

						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a class="page-link"
								th:href="@{'/user/view-contacts/'+ ${i-1}}" href="#"><span th:text="${i}"></span></a>
						</li>

						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link"
								th:href="@{'/user/view-contacts/'+${currentPage+1}}" href="#">Next</a></li>

					</ul>
				</nav>

			</div>
		</div>
		<script>
			$(document).ready(()=>{
				$('.item').removeClass('active');
				$('#viewcontact-link').addClass('active');
			})
		</script>
	</section>
</body>

</html>