<!doctype html>
<html lang="en" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<title> About Page </title>
</head>

<body>
	<section>
		<div class="card-group mt-1" id="about">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">About Smart Contact Manager</h5>
					<hr>
					<img id="image1" class="img-fluid" th:src="@{/img/contactmanager.jpg}"
						alt="Card image cap" />
					<hr class="mt-4">
					<p class="card-text text-left">A contact manager is a software program that enables users to easily
						store and
						find contact information, such as names, addresses, and telephone numbers. They are
						contact-centric databases that provide a fully integrated approach to tracking all information
						and communication activities linked to contacts. Simple ones for personal use are included in
						most smartphones. The main reference standard for contact data and metadata, semantic and
						interchange, is the vCard.
						Sophisticated contact managers provide calendar sharing features and allow colleagues to access
						the same database. The main reference standard is the vCalendar.
						In management terminology, advanced contact managers can be called individual resource
						management (IRM) or contact management (CM) tools – systems for managing an individual's
						interactions with current and future contacts, to organize, collaborate, and synchronize health,
						lifestyle, and financial needs.</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">Contact Us</h5>
					<hr>
					<div class="container mt-4">
						<div class="card">
									<div class="card-header">Information</div>
									<div class="card-body">
										<h5 class="card-title"></h5>
										<p class="card-text">With supporting text below as a natural lead-in to
											additional content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
										<h5 class="card-title"></h5>
										<p class="card-text">With supporting text below as a natural lead-in to
											additional content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
</body>

</html>